/* GENERELLE REGLER */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.fixedMargin {
  margin-left: 10vw;
  margin-right: 10vw;
}

/* FONT REGLER */
h2 {
  font-size: 1.5vw;
  font-family: "Open Sans", sans-serif;
  font-weight: 100;
  font-style: italic;
  line-height: 4.2vh;
  letter-spacing: 0.03vw;
}

p {
  font-family: "Open Sans", sans-serif;
  font-size: 1vw;
  color: #2a2a2a;
  font-weight: 100;
  line-height: 3vh;
}

a {
  text-decoration: none;
  color: #2a2a2a;
  font-size: 1vw;
  font-family: "Open Sans", sans-serif;
  font-weight: 100;
}

/* HEADER */
.header {
  padding-top: 10vh;
  padding-bottom: 7vh;
}

.header img {
  width: 9vw;
}

/* NAVIGATION */
.menuIcon {
  display: none;
  cursor: pointer;
}

.navbar {
  width: 100%;

  line-height: 9vh;
  z-index: 1;
}

.menu {
  display: flex;
  justify-content: space-between;
  margin-left: 10vw;
  margin-right: 10vw;
}

.menu a:hover {
  color: #00609c;
}

.subNav {
  background-color: #e6e7e8;
  display: none; /* none */

  width: 100%;
  position: absolute;
  left: 0;

  z-index: 1;
}

.subNav a {
  color: #00609c;
  font-size: 0.9vw;
}

.subNav a:hover {
  text-decoration: underline;
}

.withSubNav:hover .subNav {
  display: block;
}

.productOverview {
  margin-left: 10vw;
  margin-right: 20vw;
  display: flex;
  justify-content: space-between;
}

.subSubNav {
  background-color: #00609c;
  display: none; /* none */

  width: 100%;
  position: absolute;
  left: 0;
}

.productInfo {
  margin-left: 10vw;
  margin-right: 25vw;
  display: flex;
  justify-content: space-between;
}

.productInfo a {
  color: #f9f9f9;
  font-size: 0.9vw;
}

.productInfo a:hover {
  color: #f9f9f9;
  text-decoration: underline;
}

.adtralza:hover .subSubNav {
  display: block;
}

.search {
  width: 20vw;
  padding: 3%;
  border-radius: 50px;
  border: 2px solid #e6e7e8;

  position: relative;
  margin-top: -10%;
  margin-left: 10vw;
}

/*========================================= PRODUCT ===============================================*/

/*=========== PRODUCTAD ============*/
.productAd {
  background-color: #d9d9d9;
}

.hero {
  background-color: #06172a;
}

.heroText {
  width: 27vw;
  position: absolute;
  top: 0;
  margin-top: 42vh;
}

.productLogo {
  width: 7vw;
}

.productAdText {
  color: #f9f9f9;
  padding-top: 3vh;
}

/*=========== PRODUCT PRESENTATION ===========*/
.productPresentation {
  height: 50vh;
  background-color: #d9d9d9;
}

.productPackaging {
  display: flex;
  justify-content: space-between;
}

.productBox {
  width: 25vw;
  margin-top: 7vh;
  margin-left: 5vw;
}

.productPackagingText {
  width: 34vw;
  color: #00609c;
  margin-top: 15vh;
}

.productPackagingText h2 {
  padding-bottom: 3vh;
}

.productPackaging a {
  font-family: "Opens Sans", sans-serif;
  font-style: italic;
  letter-spacing: 0.03vw;
}

/*========== PRODUCT RESULTS ===========*/
.productResults {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding-bottom: 10vh;
}

.resultsColumn {
  width: 33%;
  margin-top: 8vh;
}

.resultsColumn img {
  width: 50%;
  margin-left: 5vw;
  margin-right: 5vw;
}

.resultsText h2 {
  color: #00609c;
  padding-bottom: 1.5vh;
}

.resultsText {
  margin-left: 5vw;
  margin-right: 5vw;
}

.resultsText p {
  padding-bottom: 3vh;
}

.resultsColumn a {
  color: #c017a2;
  font-family: "Open Sans", sans-serif;
  font-style: italic;
  font-weight: 100;
}

/*================ HOW IT WORKS =================*/
.howItWorks {
  background-color: #e6e7e8;
  padding-top: 10vh;
  padding-bottom: 10vh;
}

.howItWorks h2 {
  color: #00609c;
  padding-bottom: 5%;
}

.watchBtn {
  width: 15vw;
  margin-top: 11%;
  margin-bottom: 2%;

  font-size: 1vw;
  font-family: "Open Sans", sans-serif;
  font-style: italic;
  color: #f9f9f9;
  background-color: #c017a2;

  padding-top: 2%;
  padding-bottom: 2%;
  border-radius: 50px;
  border: none;
  cursor: pointer;
}

.howItWorksFlex {
  display: flex;
}

.howItWorksText {
  width: 50%;
}

.howItWorksText p {
  width: 85%;
  padding-bottom: 3%;
}

.videoDuration {
  font-size: 0.8vw;
  font-family: "Open Sans", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.howItWorksVideo {
  width: 50%;
}

.howItWorksVideo video {
  width: 100%;
}
/*================== CLINICAL TOOLS ====================*/
.clinicalTools {
  padding-top: 8%;
  padding-bottom: 8%;
}

.clinicalTools h2 {
  padding-bottom: 2%;
  color: #00609c;
}

.infoCard {
  width: 48%;
  background-color: #e6e7e8;
}

.infoCard p {
  padding-bottom: 8%;
}

.infoCard a {
  color: #c017a2;
  font-style: italic;
}

.cardContent {
  margin-left: 10%;
  margin-right: 10%;
  padding-top: 7%;
  padding-bottom: 7%;
}

.cardFlex {
  display: flex;
  justify-content: space-between;
}

/*================== KOL VIDEOS ====================*/
.KOL {
  background-color: #e6e7e8;
  padding-top: 8%;
  padding-bottom: 8%;
}

.KOL h2 {
  color: #00609c;
  padding-bottom: 1%;
}

.videoCard {
  display: flex;
  width: 50%;
  padding-top: 5%;
}

.videoPlaceholder {
  width: 50%;
}

.videoText {
  padding-left: 4%;
  padding-right: 6%;
  width: 50%;
}

.videoFlex {
  display: flex;
  flex-wrap: wrap;
}

.playBtn {
  color: #c017a2;
  background: none;
  border: none;
  cursor: pointer;

  position: absolute;
  margin-left: 8.5%;
  margin-top: 4%;
}

.KOLVideo {
  width: 100%;
}

/*==================== FOOTER ===================*/
.footer {
  background-color: #00609c;
}

.footerFlex {
  display: flex;
  justify-content: space-between;

  padding-top: 5%;
}

.footer img {
  width: 5vw;
}

.footer p {
  width: 17%;
  color: #e6e7e8;
  font-size: 0.7vw;
  line-height: 2.5vh;
}

.footerLinks {
  display: flex;
  justify-content: center;
  padding-bottom: 3%;
  padding-top: 3%;
}

.footer a {
  color: #e6e7e8;
  font-size: 0.7vw;
  padding-left: 0.7%;
}

.divider {
  color: #e6e7e8;
  padding-left: 0.7%;
}

/* Mobil */
@media (max-width: 767px) {
  /*================== FONT REGLER ==================*/
  h2 {
    font-size: 5vw;
  }

  p {
    font-size: 3.5vw;
  }

  a {
    font-size: 3.5vw;
  }
  /*================== HEADER ===================*/
  .header img {
    width: 40%;
  }

  /*================== NAVIGATION ====================*/
  .navbar {
    position: absolute;
    background-color: #f9f9f9;
  }

  .menu {
    width: 40%;
  }

  .menu a {
    font-size: 4vw;
  }

  .productOverview {
    width: 10%;
  }

  .menuIcon {
    display: block;
    position: absolute;
    right: 0;
    margin-right: 6vw;
    margin-top: -14.5vh;
  }

  .menu,
  .subNav,
  .subSubNav {
    display: none;
  }

  .menu.active {
    display: flex;
    flex-direction: column;
  }

  .productOverview,
  .productInfo {
    flex-direction: column;
  }

  .subSubNav {
    height: 81vh;
  }

  .subNav a,
  .subSubNav a {
    font-size: 4vw;
  }

  .searchbar {
    display: none;
  }

  /*=========== PRODUCTAD ============*/
  .productAd {
    height: 60vh;
    background-color: #00609c;
  }

  .heroText {
    width: 83%;
  }

  .productLogo {
    width: 20vw;
    margin-top: 3%;
  }

  .productAdText {
    padding-top: 3vh;
  }

  /*=========== PRODUCT PRESENTATION ===========*/
  .productPresentation {
    height: 72vh;
  }

  .productPackaging {
    flex-direction: column;
  }

  .productBox {
    width: 80%;
  }

  .productPackagingText {
    width: 100%;
    margin-top: 1vh;
  }

  /*================ RESULTS ================*/
  .productResults {
    flex-direction: column;
  }

  .resultsColumn {
    width: 100%;
    margin-top: 8vh;
  }

  .resultsColumn img {
    width: 60%;
  }

  /*================ HOW IT WORKS ================*/
  .howItWorks {
    background-color: #e6e7e8;
    padding-top: 10vh;
    padding-bottom: 10vh;
  }

  .howItWorks h2 {
    color: #00609c;
    padding-bottom: 5%;
  }

  .watchBtn {
    width: 60vw;
    font-size: 3.5vw;
    padding-top: 4%;
    padding-bottom: 4%;
  }

  .howItWorksFlex {
    flex-direction: column;
  }

  .howItWorksText {
    width: 100%;
  }

  .howItWorksText p {
    width: 100%;
    padding-bottom: 3%;
  }

  .videoDuration {
    font-size: 3vw;
  }

  .howItWorksVideo {
    width: 100%;
    padding-top: 10%;
  }

  /*================ CLINICAL TOOLS ================*/
  .infoCard {
    width: 100%;
    margin-bottom: 10%;
  }

  .cardFlex {
    flex-direction: column;
  }

  /*================ KOL ================*/
  .videoFlex {
    flex-direction: column;
  }

  .videoCard {
    width: 100%;
    flex-direction: column;
    padding-top: 15%;
  }

  .videoPlaceholder {
    width: 100%;
  }

  .videoText {
    width: 100%;
    padding-bottom: 5%;
    padding-top: 3%;
  }

  .playBtn {
    scale: 4;
    margin-left: 37.5%;
    margin-top: 22%;
  }

  /*==================== FOOTER ===================*/

  .footer img {
    width: 15vw;
  }

  .footer p {
    width: 45%;
    font-size: 2vw;
    line-height: 2vh;
  }

  .footer a {
    font-size: 2.5vw;
    padding-left: 2%;
  }

  .divider {
    padding-left: 2%;
  }
}
